/* ----- Contents of this file: -----
 *  |basic layout| 
 *  |colors and typography| 
 */

/* Avoids counter-intuitive box size changes as per 
   https://css-tricks.com/box-sizing/ */

html {
    box-sizing: border-box;
    background-color: #F7F8F6;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*  |basic layout| */
body {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
  }

  .top-nav {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: flex-end;
    }

    .top-nav--tel-mail {
        padding: 0.5em 1em;
    }
    
    .top-nav--menu {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: flex-end;
        padding: 1em 0.5em;
    }
    
    .top-nav--menu * {
        padding: 0em 1em;
    }

    img {
        height: auto;
        /* gets rid of white space picture tag*/
        display: block;
    }
    .about {
        width: 100%;
    }
    
    .section-header {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 1.2em 0em;
    }
        .about--container {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: auto;
            grid-template-areas: "article agentpic";
        }

        .about--container-copywriting {
            grid-area: article;
        }
        .about--container-agent-photo {
            grid-area: agentpic;
        }

    /* TODO CSS grid and media queries should make image disappear*/
    .about-container {
        display:grid;
    }

    @media screen and (max-width: 600px) {
        img {
            width: 100%;
        }
        .landing-img {
            width: 100%;
        }
    }
    
    @media screen and (min-width: 601px) and (max-width: 1200px) {
        img {
            width: 90%;
        }
        .landing-img {
            width: 100%;
        }
    }
    @media screen and (min-width: 1201px) {
        img {
            width: 60%;
        }
        .landing-img {
            width: 100%;
        }
    }

 /*  |colors and typography| */
 /* Setting variables for colors and fonts (easier to change)*/
 :root {
     --clr-light: #F7F8F6;
     --clr-dark: #4F414F;
     --clr-accent: #DBA2AD;

     --font-all: "Poppins", "Helvetica", sans-serif;
 }

 .document {
    font-family: var(--font-all);
    line-height: 1.7em;
 }

.top-nav--menu {
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

.section-header{
    background-color: var(--clr-dark);
    color: var(--clr-light);
    font-size: 1.25em;
    font-weight: 500;
}
