/* ----- Contents of this file: -----
 *  |basic layout - landing| 
 *  |colors and typography - landing| 
 *  |basic layout - immobilienkauf| 
 *  |colors and typography - immobilienkauf| 
 *  |basic layout - verkauf| 
 *  |colors and typography - verkauf| 
 *  |basic layout - kontakt| 
 *  |colors and typography - kontakt| 
 */

/* Avoids counter-intuitive box size changes as per 
   https://css-tricks.com/box-sizing/ */

html {
    box-sizing: border-box;
    background-color: #F7F8F6;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*  |basic layout - landing| */
body {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
  }

  .top-nav {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: flex-end;
    }

    .top-nav--upper-info {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        padding: 0.5em 1em;
        width: 100%;
    }
        .upper-info--sale-pitch {
            padding: 0 1em;
        }
        .upper-info--tel {
            padding: 0 1em;
        }
    
    .top-nav--menu {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: flex-end;
        padding: 1em 0.5em;
    }
    
    .top-nav--menu * {
        padding: 0em 1em;
    }

    .menu--kaufen {
        margin-left:auto;
    }

    img {
        height: auto;
        /* gets rid of white space picture tag*/
        display: block;
    }
    .about {
        width: 100%;
    }
    
    .section-header {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 1.2em 0em;
    }

        .about--container {
            display: grid;
            grid-template-columns: 70% 30%;
            grid-template-rows: auto;
            grid-template-areas: "article agentpic";
        }

        .about--container-copywriting {
            grid-area: article;
        }
        .about--container-agent-photo {
            grid-area: agentpic;
        }


        .bottom-nav {
            display: flex;
            flex-flow: column, wrap;
            margin: 1em 0;
            padding: 1em 0;
        }

        .about--container-agent-photo {
            border-radius: 15px;
            margin: 1.5em 1em;
            display: flex;
            justify-self: center;
        }
        
        .about--container-copywriting {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            margin: 2.5em 0;
        }

        .copywriting--text {
            margin: 0.5em;
            padding: 0em 2em;
        }
        .showcase-reel {
            width: 100%;
            height: auto;
        }

        .showcase-reel--gallery {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            grid-gap: 2rem;
            justify-items: center;
            padding: 3rem 1rem;
        }
            .gallery--frame {
                display: flex;
                justify-content: center;
            }
            .gallery--photo {
                max-width: 100%;
                height: auto;
                object-fit: cover;
                border-radius: 15px;
                transition: opacity 0.25s ease-in-out;
            }
            .gallery--photo:hover {
                opacity: 0.85;
                border: 1px solid var(--clr-accent);
                box-shadow: 3px 3px  var(--clr-accent);
            }
        .bottom-nav {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }
            .bottom-nav > * {
                display: flex;
                flex-flow: column wrap;
                align-content: center;
                justify-content: center;
                margin: 1em 2em;
            }

            .bottom-nav--name {
                padding-left: 1em;
            }
            .bottom-nav--link-list {
                padding-right: 1em;
            }

    @media screen and (max-width: 600px) {
        img {
            width: 100vw;
        }
        .top-nav--upper-info {
            display: flex;
            justify-content: center;
        }
        .upper-info--sale-pitch {
            visibility: hidden;
            width: 1px;
            height: 1px;
        }
        .landing-img {
            width: 100%;
        }
        .about--container {
            /*Makes agent picture disappear on mobile*/
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 100%;
            grid-template-areas: "article";
        }
        .about--container-agent-photo {
            max-width: 0px;
            max-height: 0px;
            visibility: hidden;
        }
        .bottom-nav {
            display: flex;
            flex-flow: column wrap;
        }
            .bottom-nav > * {
                margin: 1em;
            }

            .bottom-nav--name {
                padding-left: 0;
            }
            .bottom-nav--link-list {
                padding-right: 0;
            }
    }
    
    @media screen and (min-width: 601px) and (max-width: 1200px) {
        img {
            width: 90%;
        }
        .landing-img {
            width: 100%;
        }
        .about--container {
            /*Makes agent picture disappear on tablets*/
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 100%;
            grid-template-areas: "article";
        }
    }
    @media screen and (min-width: 1201px) {
        img {
            width: 60%;
        }
        .landing-img {
            width: 100%;
        }
        .about--container-copywriting {
            display: flex;
            flex-flow: column wrap;
            align-content: flex-end;
            margin: 2.5em;
            font-size: 1.2em;
        }
        .about--container-agent-photo {
            justify-self: flex-start;
        }
    }

 /*  |colors and typography - landing| */
 /* Setting variables for colors and fonts (easier to change)*/
 :root {
     --clr-light: #F7F8F6;
     --clr-dark: #4F414F;
     --clr-accent: #DBA2AD;

     --font-all: "Poppins", "Helvetica", sans-serif;
 }

 .document {
    font-family: var(--font-all);
    color: var(--clr-dark);
    line-height: 1.7em;
 }

.top-nav--menu {
    background-color: var(--clr-dark);
    color: var(--clr-light);
}
    .menu--logo {
        font-size: 1.2em;
        font-weight: 500;
    }

.section-header{
    background-color: var(--clr-dark);
    color: var(--clr-light);
    font-size: 1.25em;
    font-weight: 500;
    text-align: center;
}
.copywriting--text {
    color: var(--clr-dark);
    line-height: 2em;
    text-align: center;
}

.bottom-nav {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}

.nav-link {
    text-decoration: none;
    color: var(--clr-light)
}
    .bottom-nav--name {
        font-size: 1.3em;
        font-weight: 500;
    }

    a:hover{
        text-decoration: underline;
        text-underline-offset: 0.2em;
        text-decoration-color: var(--clr-accent);
    }
    a:focus:active{
        text-decoration: underline;
        text-underline-offset: 0.2em;
        text-decoration-color: var(--clr-accent);
    }
 /*  |basic layout - immobilienkauf| */
 .immobilienkauf {
     display: flex;
     width: 100vw;
 }
 
 .immobilienkauf-card {
     display: grid;
     grid-template-columns: 20% 30% 50%;
     grid-template-rows: 30% 70%;
     grid-template-areas: "houseimage housetitle housetitle"
                          "houseimage facts pitch";
     background-color: beige;
     width: 100%;
     height: auto;
     margin: 1.5em 1em;
 }
    .immobilienkauf-card--img {
        grid-area: houseimage;
        width: 100%;
        border: 1px solid blue;
    }
    .immobilienkauf-card--title {
        grid-area: housetitle;
        border: 1px solid red;
    }
    .immobilienkauf-card--daten {
        grid-area: facts;
        border: 1px solid violet;
    }
    .immobilienkauf-card--sale-pitch {
        grid-area: pitch;
        border: 1px solid green;
    }
    @media screen and (max-width: 600px) {
    .immobilienkauf-card {
        display: flex;
        flex-flow: column wrap;
        width: 90%;
        margin: 1em;
        }
    .immobilienkauf-card > * {
        overflow: hidden;
        width: 100%;
        }
 /*  |colors and typography - immobilienkauf| */
 /*  |basic layout - verkauf| */ 
 /*  |colors and typography - verkauf| */
 /*  |basic layout - kontakt| */ 
 /*  |colors and typography - kontakt| */