/* ----- Contents of this file: -----
 *  |basic layout| 
 *  |colors and typography| 
 */

/* Avoids counter-intuitive box size changes as per 
   https://css-tricks.com/box-sizing/ */

html {
    box-sizing: border-box;
    background-color: #F7F8F6;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/*  |basic layout| */
body {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
  }

  .top-nav {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: flex-end;
    }

    .tel-mail-top {
        padding: 0.5em 1em .5em 1em;
    }
    
    .menu {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: flex-end;
        padding: 1em 0.5em 1em 0.5em;
    }
    
    .menu * {
        padding: 0em 1em 0em 1em;
    }

    img {
        height: auto;
    }

    @media screen and (max-width: 600px) {
        img {
            width: 100%;
        }
    }
    
    @media screen and (min-width: 601px) and (max-width: 1200px) {
        img {
            width: 90%;
        }
    }
    @media screen and (min-width: 1201px) {
        img {
            width: 60%;
        }
    }

 /*  |colors and typography| */

 body {
    font-family: 'Poppins', sans-serif;
 }
    .menu {
        background-color: #4F414F;
        color: #F7F8F6;
    }